<div class = "container">
 <div class = "row">
   <h1>アプリ詳細</h1>
    <div class = "table">
     <tr>
      <th><%= attachment_image_tag @game,:image %></th>
      <th>ゲーム名：<%= @game.title %></th>
      <th>ゲーム紹介：<%= @game.introduction %></th>
      <th>詳細：<%= @game.body %></th>
     </tr>
      <div class = "game-contents">
       <p><%= link_to 'このゲームのレビューを閲覧する', user_game_reviews_path(@game.id), class: 'btn btn-success' %></p>
       <% if @game.liked_by?(current_user) %>
        <p><%= link_to user_game_likes_path(game_id: @game.id), method: :delete do %>
           ♥<%= @game.likes.count %> いいね
           <% end %></p>
        <% else %>
        <p><%= link_to user_game_likes_path(game_id: @game.id), method: :post do %>
          ♡<%= @game.likes.count %> いいね
           <% end %></p>
       <% end %>
      </div>
  </div>
 </div>
</div>