<div class = "container">
 <div class = "row justify-content-center">
   <h1>アプリ詳細</h1>
  </div>
  <div class = "row justify-content-center">
   <div class = "card" style="width:30rem;">
     <%= attachment_image_tag @game,:image, class: 'img-fluid' %>
    <div class = "card-body">
   <div class = "game-title">
     <h4>ゲーム名: <%= @game.title %></h4>
   </div>
   <div class = "game-genre">
    <h4>ジャンル:<%= @game.genre.name %></h4>
   </div>
   <div class = "game-introduction">
    <h4>ゲーム紹介:<%= @game.introduction %></h4>
   </div>
   <div class = "game-likes">
     <h4>いいね数
     <div class = "game-contents">
      <% if user_signed_in? %>
       <% if @game.liked_by?(current_user) %>
        <p><%= link_to user_game_likes_path(@game.id), method: :delete do %>
           ♥<%= @game.likes.count %>
           <% end %></p>
          <% else %>
        <p><%= link_to user_game_likes_path(@game.id), method: :post do %>
            ♡<%= @game.likes.count %>
           <% end %></p>
       <% end %>
      <% end %>
      </div></h4>
   </div>
   <div class = "game-score" id='star_avg'>
     <h4>評価：<%= @game.avg_score %></h4>
   </div>
     <% if user_signed_in? %>
      <div class = "game-reviews">
        <h4><%= link_to 'このゲームのレビューを閲覧する', user_game_reviews_path(@game.id), class: 'btn btn-success' %></h4>
        <h4><%= link_to 'ダウンロード', class: 'btn btn-primary' %></h4>
        <h4><%= link_to '共有', class: 'btn btn-warning' %></h4>
      </div>
     <% end %>
   <div class = "game-body">
    <h4>詳細:<%= @game.body %></h4>
   </div>
 </div>
 </div>
</div>
</div>

<script>
  $('#star_avg').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off') %>',
    starOn : '<%= asset_path('star-on') %>',
    starHalf : '<%= asset_path('star-half') %>',
    readOnly: true,
    score: <%= @game.avg_score %>,
  });
</script>