<div class = "container">
  <h1>ゲーム詳細</h1>
   <div class = "row">
    <div class = "card">
      <%= attachment_image_tag @game, :image, class: 'img-fluid' %></tr>
      <div class ="card-body">
       <h5 class="card-title">
          ゲームタイトル:<%= @game.title %>
       </h5>
       <h5 class ="card-genre">
          ジャンル:<%= @game.genre.name %>
       </h5>
       <h5 class = "card-PR">
          簡潔PR:<%= @game.introduction %>
       </h5>
        <h5 class = "card-text">
          紹介文:<%= @game.body %>
        </h5>
        <h5 class = "card-bonus">
          特典:<%= @game.bonus_index %>
        </h5>
        <div class = "center">
          <%= link_to "編集する", edit_admin_game_path(@game.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
   </div>
</div>

