
<h1>ゲーム詳細</h1>
<div class = "game-photo_image">
  <tr>イメージ画像</tr>
  <tr><%= @game.attachment_image_tag @item, :image, format: "jpeg", fallback: "no_image.jpg", size: "400x300" %></tr>
</div>
<div class = "game-title-table">
  <tr>ゲームタイトル:</tr>
  <tr><%= @game.title %></tr>
</div>
<div class = "genres-table">
  <tr>ジャンル:</tr>
  <tr><%= @game.genre %></tr> </div>
<div class = "PR-table">
  <tr>簡潔PR:</tr>
  <tr><%= @game.introduction %></tr>
</div>
<div class = "PR-table">
  <tr>紹介文:</tr>
  <tr><%= @game.body %></tr>
</div>
<div class = "bonus-table">
  <tr>特典:</tr>
  <tr><%= @game.introduction %></tr>
</div>
<div class = "center">
  <%= link_to "編集する",edit_admin_game_path(game.id) %>
</div>
<% end %>