<h1>ジャンル一覧・編集</h1>
  <div class = "genre_new_table">
    <%= form_with model:[:admin, @genre], local: true do |f| %>
    <tr>
      <%= f.label :ジャンル名 %>
       <th><%= f.text_field :name, placeholder: 'ジャンル名' %></th>
       <th><%= f.submit '新規登録',class: 'btn btn-success' %></th>
    </tr>
    <% end %>
  </div>

<table class = "table" >
  <thread>
    <tr>
      <th>ジャンル一覧</th>
    </tr>
      <tbody>
      <div class = "genre_index">
        <% @genres.each do |genre| %>
      <tr>
      <th><%= genre.name %></th>
      <th><%= link_to "編集する", edit_admin_genre_path(genre), class: 'btn btn-primary' %></th>
    <% end %>
      </tbody>
  </thread>
</table>


