<div class ="container">
  <div class ="row">
    <h1>お問い合わせ内容の確認</h1>
  </div>
    <div class="row">
      <table>
        <tbody>
          <tr>
            <td class="text-center" style="width: 30%;">お名前:</td>
            <td><%= @inquiry.name %></td>
          </tr>
          <tr>
            <td class="text-center">メッセージ:</td>
            <td style="white-space: pre-wrap;"><%= @inquiry.message %></td>
          </tr>
        </tbody>
      </table>
     </div 
      <div class="row">
        <%= form_for @inquiry, url: user_inquiries_path, method: :post do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信' %></div>
        <% end %>
        <%= form_for @inquiry, url: user_back_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る' %></div>
        <% end %>
      </div>
</div>
