<div class = "container">
  <div class = "row justify-content-center">
    <h2>マイページ</h2>
  </div>
 <div class = "row justify-content-center col-8 offset-2">
   <div class = 'mypage col-xs-6'>
    <p><%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x200"  %></p>
   </div>
   <table class = 'table table-bordered'>
    <tr class = "brown-border">
      <td>ニックネーム:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr class = "brown-border">
      <td>お気に入りアプリ:</td>
      <td><%= @user.title %></td>
    </tr>
    <tr class = "brown-border">
      <td>いいね:</td>
      <td><%= @user.likes.count %></td>
    </tr>
    <tr class = "brown-border">
      <td>自己紹介:</td>
      <td><%= @user.introduction %></td>
    </tr>
   </table>
 </div>
  <div class = "row justify-content-center">
    <table class = "table">
      <tr>
       <% if user_signed_in? %>
        <%= link_to "会員情報編集", edit_user_user_path(@user.id), class: 'btn btn-success' %>
        <%= link_to "退会する", unsubscribe_user_users_path, class: 'btn btn-danger' %>
       <% end %>
      </tr>
    </table>
  </div>
 </div>
</div>
