<div class="a">
  <div class="b">1<img class="c" src="assets/sample1.jpg"></div>
  <div class="b">2<img class="c" src="assets/sample2.jpg"></div>
  <div class="b">3<img class="c" src="assets/sample3.jpg"></div>
</div>
<div class = "container">
  <div class = "row">
  　<% if user_signed_in? %>
      <p><strong>★★★まず、はじめに「マイページ」より自分のプロフィールを作成しよう！★★★</strong></p>
    <% end %>
  </div>
  <div class = "row">
   <div class = 'new_appre_table mb-3'>
    <h3><strong>新着アプリ</strong></h3>
     <p>おすすめの新作アプリをダウンロード！</p>
      <table class = "table">
       <% @games.each do |game| %>
         <div class = "game-photo">
          <%= attachment_image_tag game,:image, size:'100x100' %>
         </div>
          <thead>
            <tr>
             <th><%= link_to game.title, user_game_path(game.id) %></th>
            </tr>
          </thead>
          <tbody>
             <tr>
              <th><%= game.introduction %></th>
             </tr>
       <% end %>
          </tbody>
          <div class = "text_right">
            <%= link_to ">>全て表示", user_games_path %>
           </div>
      </table>
    </div>
  </div>
     <div class = "row">
      <div class = 'ranking_table'>
       <h3><strong>ランキング表示</strong></h3>
   　      <p>人気アプリをダウンロード！</p>
  　        <table class = "table">
             <tbody>
           　  <tr>
           　    <% @all_ranks.each do |game| %>
           　   <td><%= attachment_image_tag game,:image, size:'100x100' %></td>
           　  <tr class = "table-bordered">
                <td><%= link_to game.title, user_games_path(params[:id]) %></td>
           　  </tr>
           　  <tr class = "table-bordered">
             　 <td><%= game.introduction %></td>
           　  </tr>
           　    <% end %>
           　  </tr>
             </tbody>
            </table>
         <div class = "text_right">
      <%= link_to ">>全て表示", user_games_path %>
      </div>
     </div>

    <table class = 'game_genre_table'>
     <h3><strong>ジャンル別で見る</strong></h3>
      <p>ジャンルで探してみる
      <%#= form_with game_search_url, method: :get do %>
        <%#= f.label :"ジャンル:" %>
        <%#= f.collection_select :genre_id, @Genre.all, :id, :name, include_blank: "-- 選択してください --"  %>
        <%#= f.submit '検索する', class: 'btn btn-primary' %>
      <%# end %></p>
      <%= link_to ">>全て表示", user_games_path %>
    </table>
    <div class = 'table col-6 offset-4'>
      <p>無料会員登録でさまざまな特典をゲット！！</p>
        <% if user_signed_in? %>
          <%= link_to "掲示板一覧へ", user_topics_index_path, class: 'col-4 btn btn-success' %>
         <% elsif %>
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
   </div>
  </div>
 </div>
</div>