<h1>Game-Watching</h1>
  <h3><%= link_to "ホーム",root_path %></h3>
  <h3><%= link_to "ログイン",user_session_path %></h3>
  <% if user_signed_in? %>
    <h3>User</h3>
      <%= link_to '[マイページ]', user_user_path(current_user) %>
      <%= link_to '[logout]', destroy_user_session_path, method: :delete %>
      <%= link_to '[掲示板機能]', user_topics_index_path %>
  <% end %>
  <% if admin_signed_in? %>
    <h3>Admin</h3>
      <%= link_to 'logout', destroy_admin_session_path, method: :delete %>
  <% end %>
  <table class = 'ranking_table'>
    <h3>ランキング表示</h3>
    <%= link_to ">>全て表示" %>
  </table>
  <table class = 'game_genre_table'>
    <h3>ジャンル別で見る</h3>
    <%= link_to ">>全て表示" %>
  </table>
  <table class = 'new_appre_table'>
    <h3>新着アプリ</h3>
    <%= link_to ">>全て表示" %>
</table>
  <div class = 'text_field center'>
    <h4>無料会員登録でさまざまな特典をゲット！！</h4>
  </div>
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>