<div class = "container">
 <h2>評価とレビュー</h2>
 <div class = "form-group row justify-content-center">
   <div class="evaluation-table">
     <%= form_with model: @review, url: "/user/games/#{params[:game_id]}/reviews", local: true do |f| %>
      <%= f.label :"タイトル:", class:'col-md-3 col-form-label' %>
      <%= f.text_field :title, placeholder: "タイトル" %>
    <div class="form-group row" id="star">
      <%= f.label :"評価:",class:'col-md-3 col-form-label' %>
    </div>
      <%# render 'user/review' %>
      <%= f.label :"評価詳細:" %>
      <%= f.text_area :introduction, placeholder: "評価詳細", class: "form-control", rows: "8" %>
      <%= f.submit '投稿する' , class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
     <h2>レビュー一覧と詳細</h2>
     <%#= render 'user/average' %>
      <div class = "row col-12 justify-content-around">
        <% @reviews.each do |review| %>
         <table class = "table text-left col-4">
           <thead>
             <td>投稿者：<%= review.user.name %></td>
             <td>評価：
             <div class = "star-average-score">
             </div>
             <%#= f.hidden_field :rate, name: "review[rate]" %></td>
             <td>
              <div><% if review.liked_by?(current_user) %>
                <p><%= link_to user_game_review_likes_path(game_id: params[:game_id], review_id: review.id), method: :delete do %>
                   ♥<%= review.likes.count %> いいね
                   <% end %></p>
                  <% else %>
                <p><%= link_to user_game_review_likes_path(game_id: params[:game_id], review_id: review.id), method: :post do %>
                   ♡<%= review.likes.count %> いいね
                    <% end %></p>
                   <% end %>
              </div></t>
           </thead>
         </div>
         <div class = "text-right col-4">
          <p>コメント詳細：<%= review.introduction %></p>
           <% if review.user == current_user %>
            <%= link_to "コメント削除", user_game_reviews_path, method: :delete, class: "btn btn-danger" %>
           <% end %>
        <% end %>
         </div>
      </div>
 </div>

<script>
  $("#star").raty({
    size : 36,
    starOff: '<%= asset_path('star-off') %>',
    starOn: '<%= asset_path('star-on') %>',
    scoreName: 'review[rate]',
  });
</script>

<script>
  $('#star-rate-<%= @review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off') %>',
    starOn : '<%= asset_path('star-on') %>',
    readOnly: true,
    score: <%= @review.rate %>,
  });
</script>