<!DOCTYPE html>
<html>
  <head>
    <title>GameWatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= favicon_link_tag('Game-Watching.png') %>
    <!--サイトのアイコン設定-->
  </head>
  <body>
  <header class = "border-bottoms">
    <nav class="navbar navbar-expand-lg px-4 pt-4 pb-3" style="background-color:aqua">
      <div class="container-fluid">
        <% if admin_signed_in? %>
         <span>
          <%= link_to image_tag("Game-Watching.png", size: "200x120"), root_path %>
         </span>
          <% else %>
         <span>
          <%= link_to image_tag("Game-Watching.png", size: "200x120"), root_path, data: {"turbolinks" => false} %>
         </span>
          <% end %>
          <% if user_signed_in? %>
            <ul class = "navbar navbar-dark bg-aqua">
             <li class = "nav-item">
               <%= link_to "ホーム", root_path, class: 'btn btn-outline-dark mr-5' %>
             </li>
             <li class = "nav-item">
               <%= link_to "マイページ", user_user_path(current_user), class: 'btn btn-outline-dark mr-5' %>
             </li>
             <li class = "nav-item">
               <%= link_to "ログアウト", destroy_user_session_path(current_user), method: :delete, class: 'btn btn-outline-dark mr-5' %>
             </li>
            </ul>
            <% elsif admin_signed_in? %>
             <ul class="nav navbar-nav">
              <li class="nav-item">
                <%= link_to "ゲーム一覧", admin_games_path, class:"btn btn-md btn btn-outline-dark mr-5" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_users_path, class:"btn btn-md btn btn-outline-dark mr-5" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-md btn btn-outline-dark mr-5" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-md btn btn-outline-dark mr-3" %>
              </li>
              <% else %>
              　<ul class="nav navbar-nav">
              　  <li class="nav-item">
                  <%= link_to "About", about_path, class:"btn btn-md btn btn-outline-dark mr-5" %>
              　  </li>
        　        <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class:"btn btn-md btn btn-outline-dark mr-5" %>
              　 </li>
                 <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class:"btn btn-md btn btn-outline-dark mr-3" %>
                 </li>
                </ul>
          <% end %>
      </div>
    </nav>
  </header>
    <%= yield %>
  <footer class = "border-bottoms">
    <nav class="navbar navbar-expand-lg px-4 pt-4 pb-3" style="background-color:aqua">
     <div class="col-4 offset-4">
      <div class="row nav-item center">
       <%= link_to "トップ", root_path, class:"btn btn-md btn btn-outline-dark col-4" %>
       <%= link_to "お問い合わせ", new_user_inquiry_path, class:"btn btn-md btn btn-outline-dark col-6 offset-1" %>
      </div>
      <div class = "taxt-center mr-5">
        <p>Copyright (C) GameWaching All Rights Reserved.</p>
      </div>
    </div>
    </nav>
  </footer>
 </body>
</html>
